In [45]:
import pandas as pd
import numpy as np
import csv


geo = pd.read_csv('C:/Users/acer/talkative/최종/총유동인구_총매출_1920.csv', encoding = 'cp949')
geo = geo[geo["기준_년_코드_x"] !=2019]

geo.index = geo["상권_코드"].map(str)
geo

,Unnamed: 0,기준_년_코드_x,기준_분기_코드_x,상권_구분_코드_명,상권_코드_x,상권_코드_명_x,총_유동인구_수_x,당월_매출_금액,기준 년코드,기준_분기_코드,...,시간대_4_유동인구_수,시간대_5_유동인구_수,시간대_6_유동인구_수,월요일_유동인구_수,화요일_유동인구_수,수요일_유동인구_수,목요일_유동인구_수,금요일_유동인구_수,토요일_유동인구_수,일요일_유동인구_수
상권_코드,,,,,,,,,,,,,,,,,,,,,
1000001,5920,2020,1,골목상권,1000001,계동길,336343,2.914288e+09,2020,1,...,53858,54837,32449,50723,53001,50478,51241,50032,41365,39502
1000002,5921,2020,1,골목상권,1000002,난계로27길,347131,3.008965e+09,2020,1,...,57760,52530,34183,49324,49452,49368,50886,49231,49253,49617
1000003,5922,2020,1,골목상권,1000003,돈화문로11가길,178244,7.501513e+09,2020,1,...,35594,35857,15592,26371,27625,27102,27552,27240,22891,19464
1000004,5923,2020,1,골목상권,1000004,명륜길,623119,2.338267e+09,2020,1,...,68835,90336,79279,89432,89834,89512,89256,87147,88125,89813
1000005,5924,2020,1,골목상권,1000005,백석동길,178717,1.754820e+09,2020,1,...,18484,25821,22841,25034,25342,25387,25076,24783,26291,26804
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1001486,11835,2020,4,전통시장,1001486,동서울시장,66313,3.586475e+06,2020,4,...,9694,12572,7919,9401,9457,9506,9416,9541,9673,9319
1001487,11836,2020,4,전통시장,1001487,천호시장,91897,3.455541e+09,2020,4,...,16465,21096,10255,12912,13087,13175,12900,13427,13783,12614
1001488,11837,2020,4,전통시장,1001488,성내골목시장,641789,4.533618e+09,2020,4,...,78340,115321,82104,88894,88226,87942,89326,88522,96966,101913
1001489,11838,2020,4,전통시장,1001489,둔촌역전통시장,252938,1.714214e+10,2020,4,...,36025,48883,30239,36162,35784,35928,35770,36348,36822,36124
1001490,11839,2020,4,전통시장,1001490,길동복조리시장,873376,1.257818e+10,2020,4,...,100785,148007,115891,123459,121993,121729,122700,122112,128749,132634

In [46]:
geo = geo[['기준_분기_코드','상권_코드_x', '당월_매출_금액']]
geo.index = geo["상권_코드_x"].map(str)+ "_" + geo["기준_분기_코드"].map(str)

geo

           기준_분기_코드  상권_코드_x      당월_매출_금액
1000001_1         1  1000001  2.914288e+09
1000002_1         1  1000002  3.008965e+09
1000003_1         1  1000003  7.501513e+09
1000004_1         1  1000004  2.338267e+09
1000005_1         1  1000005  1.754820e+09
...             ...      ...           ...
1001486_4         4  1001486  3.586475e+06
1001487_4         4  1001487  3.455541e+09
1001488_4         4  1001488  4.533618e+09
1001489_4         4  1001489  1.714214e+10
1001490_4         4  1001490  1.257818e+10

[5920 rows x 3 columns]

In [47]:
district = pd.read_csv('C:/Users/acer/talkative/최종/realreal_gu.csv', encoding='euc-kr')
district

,No,기준_년월_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,엑스좌표_값,와이좌표_값,시군구_코드,행정동_코드,행정구
0,1470,201810,D,발달상권,1001060,가락시장,210036,443852,11710,11710631,NaN
1,276,201810,A,골목상권,1000507,가로공원로58길,184569,448191,11470,11470580,NaN
2,523,201810,A,골목상권,1000552,가로공원로76가길,185909,448257,11500,11500540,NaN
3,524,201810,A,골목상권,1000553,가로공원로80길,185846,448560,11500,11500540,NaN
4,45,201810,R,전통시장,1001419,가리봉시장,190213,442465,11530,11530595,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1491,678,201810,A,골목상권,1000220,휘경로2길,205344,455062,11230,11230740,NaN
1492,1280,201810,A,골목상권,1000221,휘경로3길,205568,455328,11230,11230740,NaN
1493,851,201810,A,골목상권,1000778,흑석로13길,196448,445595,11590,11590605,NaN
1494,852,201810,A,골목상권,1000779,흑석로9길,196297,445389,11590,11590605,NaN
1495,57,201810,R,전통시장,1001448,흑석시장,196759,445314,11590,11590605,NaN

In [48]:
district = district[['상권_코드', '행정구']]

district.index = district["상권_코드"].map(str)
district

           상권_코드  행정구
상권_코드
1001060  1001060  NaN
1000507  1000507  NaN
1000552  1000552  NaN
1000553  1000553  NaN
1001419  1001419  NaN
...          ...  ...
1000220  1000220  NaN
1000221  1000221  NaN
1000778  1000778  NaN
1000779  1000779  NaN
1001448  1001448  NaN

[1496 rows x 2 columns]

In [49]:
g_district=  district[district["행정구"] == "종로구"]
p_district = district[district["행정구"] == "강남구"]
p_district

           상권_코드  행정구
상권_코드
1001496  1001496  강남구
1001475  1001475  강남구
1001462  1001462  강남구
1001092  1001092  강남구
1001095  1001095  강남구
...          ...  ...
1000938  1000938  강남구
1000939  1000939  강남구
1001123  1001123  강남구
1001125  1001125  강남구
1001108  1001108  강남구

[116 rows x 2 columns]

In [50]:
sales = pd.read_csv('C:/Users/acer/talkative/추정매출_2020.csv', encoding = 'cp949')
sales = sales[[ '기준_분기_코드', '상권_코드','상권_코드_명', '서비스_업종_코드_명']]

sales.index = sales["상권_코드"].map(str)

sales

         기준_분기_코드    상권_코드      상권_코드_명 서비스_업종_코드_명
상권_코드
1001496         4  1001496  강남 마이스 관광특구      전자상거래업
1001496         4  1001496  강남 마이스 관광특구        가전제품
1001496         4  1001496  강남 마이스 관광특구          가구
1001496         4  1001496  강남 마이스 관광특구          화초
1001496         4  1001496  강남 마이스 관광특구        섬유제품
...           ...      ...          ...         ...
1000001         1  1000001          계동길         제과점
1000001         1  1000001          계동길       양식음식점
1000001         1  1000001          계동길       일식음식점
1000001         1  1000001          계동길       중식음식점
1000001         1  1000001          계동길       한식음식점

[132321 rows x 4 columns]

In [51]:
Gangnam = pd.merge(p_district, sales, left_index=True, right_index=True, how="inner")
Jongro = pd.merge(g_district, sales, left_index=True, right_index=True, how="inner")

Gangnam

         상권_코드_x  행정구  기준_분기_코드  상권_코드_y      상권_코드_명 서비스_업종_코드_명
상권_코드
1000844  1000844  강남구         4  1000844      강남대로23길        인테리어
1000844  1000844  강남구         4  1000844      강남대로23길         화장품
1000844  1000844  강남구         4  1000844      강남대로23길          서적
1000844  1000844  강남구         4  1000844      강남대로23길         편의점
1000844  1000844  강남구         4  1000844      강남대로23길         노래방
...          ...  ...       ...      ...          ...         ...
1001496  1001496  강남구         1  1001496  강남 마이스 관광특구         제과점
1001496  1001496  강남구         1  1001496  강남 마이스 관광특구       양식음식점
1001496  1001496  강남구         1  1001496  강남 마이스 관광특구       일식음식점
1001496  1001496  강남구         1  1001496  강남 마이스 관광특구       중식음식점
1001496  1001496  강남구         1  1001496  강남 마이스 관광특구       한식음식점

[12129 rows x 6 columns]

In [52]:
Gangnam.index = Gangnam["상권_코드_x"].map(str) + "_" + Gangnam["기준_분기_코드"].map(str)
Jongro.index = Jongro["상권_코드_x"].map(str) + "_" + Jongro["기준_분기_코드"].map(str)
Gangnam

           상권_코드_x  행정구  기준_분기_코드  상권_코드_y      상권_코드_명 서비스_업종_코드_명
1000844_4  1000844  강남구         4  1000844      강남대로23길        인테리어
1000844_4  1000844  강남구         4  1000844      강남대로23길         화장품
1000844_4  1000844  강남구         4  1000844      강남대로23길          서적
1000844_4  1000844  강남구         4  1000844      강남대로23길         편의점
1000844_4  1000844  강남구         4  1000844      강남대로23길         노래방
...            ...  ...       ...      ...          ...         ...
1001496_1  1001496  강남구         1  1001496  강남 마이스 관광특구         제과점
1001496_1  1001496  강남구         1  1001496  강남 마이스 관광특구       양식음식점
1001496_1  1001496  강남구         1  1001496  강남 마이스 관광특구       일식음식점
1001496_1  1001496  강남구         1  1001496  강남 마이스 관광특구       중식음식점
1001496_1  1001496  강남구         1  1001496  강남 마이스 관광특구       한식음식점

[12129 rows x 6 columns]

In [53]:
Gangnam_ = pd.merge(Gangnam, geo, left_index=True, right_index=True, how="inner")
Jongro_ = pd.merge(Jongro, geo, left_index=True, right_index=True, how="inner")

Gangnam_

,상권_코드_x_x,행정구,기준_분기_코드_x,상권_코드_y,상권_코드_명,서비스_업종_코드_명,기준_분기_코드_y,상권_코드_x_y,당월_매출_금액
1000844_1,1000844,강남구,1,1000844,강남대로23길,인테리어,1,1000844,5.258762e+09
1000844_1,1000844,강남구,1,1000844,강남대로23길,운동/경기용품,1,1000844,5.258762e+09
1000844_1,1000844,강남구,1,1000844,강남대로23길,화장품,1,1000844,5.258762e+09
1000844_1,1000844,강남구,1,1000844,강남대로23길,서적,1,1000844,5.258762e+09
1000844_1,1000844,강남구,1,1000844,강남대로23길,편의점,1,1000844,5.258762e+09
...,...,...,...,...,...,...,...,...,...
1001496_4,1001496,강남구,4,1001496,강남 마이스 관광특구,제과점,4,1001496,1.505210e+11
1001496_4,1001496,강남구,4,1001496,강남 마이스 관광특구,양식음식점,4,1001496,1.505210e+11
1001496_4,1001496,강남구,4,1001496,강남 마이스 관광특구,일식음식점,4,1001496,1.505210e+11
1001496_4,1001496,강남구,4,1001496,강남 마이스 관광특구,중식음식점,4,1001496,1.505210e+11
1001496_4,1001496,강남구,4,1001496,강남 마이스 관광특구,한식음식점,4,1001496,1.505210e+11

In [54]:
Gangnam_ = Gangnam_[['기준_분기_코드_x','상권_코드_명', '서비스_업종_코드_명', '당월_매출_금액']]
Jongro_ = Jongro_[['기준_분기_코드_x','상권_코드_명', '서비스_업종_코드_명', '당월_매출_금액']]

Gangnam_

           기준_분기_코드_x      상권_코드_명 서비스_업종_코드_명      당월_매출_금액
1000844_1           1      강남대로23길        인테리어  5.258762e+09
1000844_1           1      강남대로23길     운동/경기용품  5.258762e+09
1000844_1           1      강남대로23길         화장품  5.258762e+09
1000844_1           1      강남대로23길          서적  5.258762e+09
1000844_1           1      강남대로23길         편의점  5.258762e+09
...               ...          ...         ...           ...
1001496_4           4  강남 마이스 관광특구         제과점  1.505210e+11
1001496_4           4  강남 마이스 관광특구       양식음식점  1.505210e+11
1001496_4           4  강남 마이스 관광특구       일식음식점  1.505210e+11
1001496_4           4  강남 마이스 관광특구       중식음식점  1.505210e+11
1001496_4           4  강남 마이스 관광특구       한식음식점  1.505210e+11

[12129 rows x 4 columns]

In [55]:
filter_value = {'전자상거래업':'전자','가전제품': '전자', '핸드폰' : '전자', '컴퓨터및주변장치판매': '전자'
               , '가전제품수리': '전자', '통신기기수리' : '전자', '가구' : '인테리어', '화초' : '인테리어', 
                '조명용품' : '인테리어', '예술품' : '인테리어', '인테리어' : '인테리어',
               '예술학원' : '교육', '외국어학원' : '교육', '일반교습학원' : '교육',
               '고시원': '주거', '여관' : '주거', '부동산중개업' : '주거', '건축물청소' : '주거',
                '섬유제품' : '패션', '시계및귀금속' : '패션', '가방' : '패션', '신발' : '패션', '일반의류' : '패션',
                '한복점' : '패션', '유아의류' : '패션', '패션' : '패션',
                '화장품' : '미용', '피부관리실' : '미용' , '네일숍' : '미용', '미용실' : '미용',
                '운동/경기용품': '취미', '스포츠클럽': '취미', '노래방': '취미', 'pc방': '취미', '골프연습장': '취미', 
                '당구장': '취미', '스포츠 강습': '취미', '자전거 및 기타운송장비': '취미', '볼링장': '취미', '악기': '취미','서적' : '취미',
                '비디오/서적임대': '취미', '반찬가게': '식품', '슈퍼마켓': '식품', '커피-음료': '식품', '분식전문점': '식품', 
                '패스트푸드점': '식품', '제과점': '식품', '양식음식점': '식품', '일식음식점': '식품', '중식음식점': '식품',
                '한식음식점': '식품', '육류판매': '식품', '호프-간이주점': '식품','치킨전문점': '식품', '청과상': '식품', 
                '수산물판매': '식품', '미곡판매': '식품', '의약품': '의료', '치과의원': '의료', '일반의원': '의료', 
                '의료기기': '의료', '한의원': '의료', '자동차수리': '자동차', 
                '자동차미용': '자동차', '자동차부품': '자동차', '중고차판매': '자동차','완구': '기타', '문구': '기타', 
                '안경': '기타', '편의점': '기타', '철물점': '기타', '애완동물': '기타', '여행사': '기타', '사진관': '기타', '세탁소' : '기타',
                '법무사사무소': '기타', '독서실': '기타', '세무사사무소': '기타', '주유소': '기타', '변호사사무소': '기타', '회계사사무소': '기타'}

In [56]:
Gangnam_["filter"] = Gangnam_["서비스_업종_코드_명"].apply(lambda x: filter_value[x.lower()])
Jongro_["filter"] = Jongro_["서비스_업종_코드_명"].apply(lambda x: filter_value[x.lower()])

Gangnam_

c:\users\acer\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

           기준_분기_코드_x      상권_코드_명 서비스_업종_코드_명      당월_매출_금액 filter
1000844_1           1      강남대로23길        인테리어  5.258762e+09   인테리어
1000844_1           1      강남대로23길     운동/경기용품  5.258762e+09     취미
1000844_1           1      강남대로23길         화장품  5.258762e+09     미용
1000844_1           1      강남대로23길          서적  5.258762e+09     취미
1000844_1           1      강남대로23길         편의점  5.258762e+09     기타
...               ...          ...         ...           ...    ...
1001496_4           4  강남 마이스 관광특구         제과점  1.505210e+11     식품
1001496_4           4  강남 마이스 관광특구       양식음식점  1.505210e+11     식품
1001496_4           4  강남 마이스 관광특구       일식음식점  1.505210e+11     식품
1001496_4           4  강남 마이스 관광특구       중식음식점  1.505210e+11     식품
1001496_4           4  강남 마이스 관광특구       한식음식점  1.505210e+11     식품

[12129 rows x 5 columns]

In [57]:
Gangnam_ = Gangnam_[['기준_분기_코드_x','상권_코드_명',  '당월_매출_금액', 'filter']]
Jongro_ = Jongro_[['기준_분기_코드_x','상권_코드_명',  '당월_매출_금액', 'filter']]

In [58]:
Gangnam_=Gangnam_.groupby(by=['기준_분기_코드_x', '상권_코드_명', "filter"]).sum()
Gangnam_=Gangnam_.reset_index(drop=False)

Jongro_=Jongro_.groupby(by=['기준_분기_코드_x', '상권_코드_명', "filter"]).sum()
Jongro_=Jongro_.reset_index(drop=False)

Gangnam_

      기준_분기_코드_x      상권_코드_명 filter      당월_매출_금액
0              1  강남 마이스 관광특구     기타  6.042920e+11
1              1  강남 마이스 관광특구     미용  6.042920e+11
2              1  강남 마이스 관광특구     식품  1.510730e+12
3              1  강남 마이스 관광특구     의료  4.532190e+11
4              1  강남 마이스 관광특구   인테리어  3.021460e+11
...          ...          ...    ...           ...
3858           4          학동역     식품  6.457457e+10
3859           4          학동역     의료  2.869981e+10
3860           4          학동역   인테리어  1.434990e+10
3861           4          학동역     취미  1.434990e+10
3862           4          학동역     패션  7.174952e+09

[3863 rows x 4 columns]

In [91]:
g = input("알고 싶은 구를 입력하세요: ")
s = input("알고 싶은 상권을 입력하세요: ")
print("... 잠시만 기다려주세요.")


if (g == "강남구"):
    data = Gangnam_[Gangnam_['상권_코드_명'].str.contains(s)]
    # data = Gangnam_[Gangnam_["상권_코드_명"] == s]
    
elif(g == "종로구"):
        #data = Jongro_[Jongro_["상권_코드_명"] == s]
        data = Jongro_[Jongro_['상권_코드_명'].str.contains(s)]
        
data

# 종로구 : 창신길, 창신5길, 창신골목시장, 창신2길, 동대문역(2), 종로58가길, 지봉로8길\
# 강남구 : 가로수길, 도산대로15길, 도산대로23길, 논현로159길, 압구정로2길

알고 싶은 구를 입력하세요: 강남구
알고 싶은 상권을 입력하세요: 압구정로2길
... 잠시만 기다려주세요.

      기준_분기_코드_x 상권_코드_명 filter      당월_매출_금액
708            1  압구정로2길     교육  7.520277e+09
709            1  압구정로2길     기타  7.520277e+09
710            1  압구정로2길     미용  3.760139e+09
711            1  압구정로2길     식품  3.384125e+10
712            1  압구정로2길   인테리어  7.520277e+09
713            1  압구정로2길     전자  3.760139e+09
714            1  압구정로2길     주거  3.760139e+09
715            1  압구정로2길     취미  3.760139e+09
716            1  압구정로2길     패션  3.760139e+09
1675           2  압구정로2길     교육  4.531520e+09
1676           2  압구정로2길     기타  9.063039e+09
1677           2  압구정로2길     미용  4.531520e+09
1678           2  압구정로2길     식품  4.078368e+10
1679           2  압구정로2길   인테리어  4.531520e+09
1680           2  압구정로2길     주거  4.531520e+09
1681           2  압구정로2길     취미  4.531520e+09
1682           2  압구정로2길     패션  4.531520e+09
2645           3  압구정로2길     교육  4.179418e+09
2646           3  압구정로2길     기타  8.358836e+09
2647           3  압구정로2길     미용  4.179418e+09
2648           3  압구정로2길     식품  3.761476e+10
2649           3  압구정로2길   인테리어  8.358836e+09
2650           3  압구정로2길     주거  4.179418e+09
2651           3  압구정로2길     취미  4.179418e+09
2652           3  압구정로2길     패션  4.179418e+09
3609           4  압구정로2길     교육  3.543099e+09
3610           4  압구정로2길     기타  7.086199e+09
3611           4  압구정로2길     미용  3.543099e+09
3612           4  압구정로2길     식품  3.188790e+10
3613           4  압구정로2길   인테리어  7.086199e+09
3614           4  압구정로2길     전자  7.086199e+09
3615           4  압구정로2길     주거  3.543099e+09
3616           4  압구정로2길     취미  3.543099e+09
3617           4  압구정로2길     패션  3.543099e+09

In [92]:
data.to_csv('C:/Users/acer/talkative/최종/압구정로2길_.csv', encoding = 'cp949')

In [93]:
data = pd.read_csv('C:/Users/acer/talkative/최종/압구정로2길_.csv', encoding = 'cp949', index_col=0)

In [96]:
geo_sum_2020 = []
filter_2020 = []
sum = 0
num = len(data)


for i in range(0, num, 4):
        for j in range(0,3):
            k = data.iloc[i+j, 3]
            sum += k
        filter_2020.append(data.iloc[i,2])
        geo_sum_2020.append(sum)
        if (i == num):
            break
        sum = 0 # 초기화
geo_sum_2020
filter_2020

a = sorted(range(len(geo_sum_2020)), key=lambda i: geo_sum_2020[i], reverse=True)[:4]

trans = []
for i in range(0, 4):
    check = a[i]
    trans.append(filter_2020[check])

trans

['식품', '기타', '인테리어', '교육']

In [97]:
geo_1_1 = data["filter"] == "식품"
geo_1_2 = data["filter"] == "인테리어"
geo_1_3 = data["filter"] == "교육"

geo_filter = pd.concat([data[geo_1_1], data[geo_1_2], data[geo_1_3]])

geo_filter.to_csv('C:/Users/acer/talkative/최종/강남_상권별_업종/압구정로2길.csv', encoding = 'cp949')